.leftsidebar {
  position: sticky;
  top: 7.5rem;
}

.small-container {
  background-color: var(--secondary-bg-color);
  width: 80%;
}
.follow-people {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.follow-person {
  display: flex;
  align-items: center;
  justify-content: center;
}

.followbtn-style {
  margin: 0 2rem;
  color: var(--primary-color);
  font-weight: bolder;
  cursor: pointer;
}

.leftside-nav-title {
  margin: 1rem;
}

@media screen and (max-width: 768px) {
  .leftsidebar {
    display: none;
  }
}
