.show-posts {
  text-align: center;
}

.button-style {
  padding: 1rem;
  font-weight: 900;
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
  border: none;
  cursor: pointer;
}
